[Unit]
Description=just testing


[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/sbin/cpu_usage.py ./cpu_usage.py arg1 arg2

[Install]
WantedBy=multi-user.target

